body{
    margin: 0;
    padding: 0;
}
p{
    font-size: 1.3em;
}
h2{
    font-size: 1.8em;
}
header{
    margin-bottom: 0;
}
#logo{
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}
#titre{
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    margin-left: 30%;
}
#nav_top{
    background-color: black;
    padding-top: 1%;
    height: 70px;
    margin-top: 0;
}
.ul_top{
    width: 22%;
    display: inline-block;
    height: 100%;
    margin: 0;
}
.li_top{
    list-style: none;
    height: 100%;
    width: 100%;
}
.btn_nav_top{
    border: none;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    font-size: 1.5em;
}
.btn_nav_top:hover{
    transform: translate(0px, -20px);
    height: 80%;
    transition: 0.5s;
}
#div_realisation{
    padding: 1%;
}
#titre_realisation{
    font-size: 2.2em;
    font-weight: normal;
}
.article1{
    width: 30%;
    display: inline-block;
    text-align: left;
    margin-left: 3%;
}
.article_description{
    background-color: rgb(243, 238, 238);
    padding-left: 5%;
    border-radius: 30px;
    margin-top: 3%;
}
.produits{
    width: 400px; 
    height: 400px;
    background-size: cover;
    transition: 0.3s;
}
.description{
    display: inline-block;
    vertical-align: top;
}
#div_sac1{
    background-image: url('../images/produits/sac/sac1A.jpg');
}
#div_sac1:hover{
    background-image: url('../images/produits/sac/sac1B.jpg');
}
#div_sac2{
    background-image: url('../images/produits/sac/sac2B.jpg');
}
#div_sac2:hover{
    background-image: url('../images/produits/sac/sac2A.jpg');
}
#div_sac3{
    background-image: url('../images/produits/sac/sac3B.jpg');
}
#div_sac3:hover{
    background-image: url('../images/produits/sac/sac3A.jpg');
}
#div_sac4{
    background-image: url('../images/produits/sac/sac4B.jpg');
}
#div_sac4:hover{
    background-image: url('../images/produits/sac/sac4A.jpg');
}
#div_abatjour1{
    background-image: url('../images/produits/abats-jour/abat-jourvache2.jpg');
}
#div_abatjour1:hover{
    background-image: url('../images/produits/abats-jour/abat-jourvache1.jpg');
}
#div_abatjour2{
    background-image: url('../images/produits/abats-jour/abat-jour2A.jpg');
}
#div_abatjour2:hover{
    background-image: url('../images/produits/abats-jour/abat-jour2B.jpg');
}
#div_abatjour3{
    background-image: url('../images/produits/abats-jour/abat-jour3A.jpg');
}
#div_abatjour3:hover{
    background-image: url('../images/produits/abats-jour/abat-jour3B.jpg');
}
#div_abatjour4{
    background-image: url('../images/produits/abats-jour/abat-jour4A.jpg');
}
#div_abatjour4:hover{
    background-image: url('../images/produits/abats-jour/abat-jour4C.jpg');
}
#div_abatjour5{
    background-image: url('../images/produits/abats-jour/abat-jour5A.jpg');
}
#div_abatjour5:hover{
    background-image: url('../images/produits/abats-jour/abat-jour5D.jpg');
}
footer{
    background-color: rgb(114, 111, 111);
    padding: 1%;
}